<%- include ../partials/header %>
<%- include ../partials/navbar %>

<div class="container">
    <div class="row mx-5">
        <h1 class="page-title my-4 text-center"><%= title %></h1>
        <!-- Content for the Details page -->
        <form class="form" method="POST" action="/question/<%= action %>/<%= item._id %>/<%= Advertisement %>">
            <div>
                
                <input type="hidden" name="id" value="<%= item._id %>">
                <input type="hidden" name="advertisementID" value="<%= Advertisement %>">

                <label for="inputQuestion">Question</label>
                <% if (title === "Update Answer") { %>
                    <input type="text" class="form-control"
                        id="inputQuestion"
                        name="Question" 
                        value="<%= item.Question %>"
                        disabled>
                <% } %>
                <% if (title === "Ask a Question") { %>
                    <input type="text" class="form-control"
                        id="inputQuestion"
                        name="Question" 
                        value="<%= item.Question %>">
                <% } %>

                <% if (title === "Update Answer") { %>
                    <label for="inputAnswer">Answer</label>
                    <input type="text" class="form-control"
                        id="inputAnswer"
                        name="Answer" 
                        value="<%= item.Answer %>"
                        required>
                <% } %>
            </div>
            <button class="btn btn-primary my-4" type="submit">
                <i class="fas fa-edit"></i> 
                Submit
            </button>
            
            <a href="/advertisement/details/<%= Advertisement %>" class="btn btn-light">
                <i class="fas fa-undo"></i> 
                Cancel
            </a>

        </form>
    </div>
</div>


<%- include ../partials/Footer %>

